@media only screen and (max-width:376px){

    .toggle-button{display: flex;}
        
    .box1{
        flex-direction: column;
        align-items: flex-start;
    }
    .menuPG{
        display: none;
    }
    .box1 nav {
        color: white;
        display: flex;
        flex-direction: column;
        
    }
    .menuPG ul{
        width: 100%;
        flex-direction: column;
    }
    .menuPG li{
        width: 100%;
        margin-top: 50px;
        margin-right: 150px;
        text-align: center;
    }
    
    .menuPG.active{
        display:flex;
    }

    .container{
        
        grid-template-areas: "s" "b3" "b4"  "b5";
        
        grid-auto-rows: minmax(30px,auto);
    }
    section{
        grid-area: s;
        height: 100vh;
        background-image: url('images/hd.jpg');
        
        background-repeat: no-repeat;
        text-transform: uppercase;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .btn{
        
        width:8.5em;
        
    }
    .box2{
    margin-left: 110px;    
    font-size: 1em;
    }
    
    .box3{
        grid-area: b3;
        display:grid ;background-color: black;
        grid-template-areas: "tr" 
        "im1"
        "im2"
        "im3"
        "bt";
        grid-template-columns: 1fr ;
        justify-items: center;align-items: center; 
        grid-auto-rows: minmax(150px,auto);
    }
    .box3 h5{margin: 5px 0 35px 0; font-size: 30px;}
    
    .box4{
        grid-area: b4;    
        background-color: #1A1A1A;
         display: grid;
         grid-template-areas:  
        "tr"  
        "r1"
        "r2"
        "r3"
        "tt" ;
         grid-template-columns: 1fr;
         grid-auto-rows: minmax(95px,auto);
         grid-gap: 5px;
         padding-top: 50px;
        }
        #tata{
            grid-template-areas: "ct1""ct2";
             grid-template-columns: 1fr;
             grid-gap: 10px;
            }
      






}